p {
    color: white;
    font-size: 18px;
    background-color: #1b1b1b;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
body {
    font-size: 18px;
}
html {
    background-color:rgb(0, 0, 0);
    letter-spacing: 1px;
}

a {
        color: white;
}
    
button {
    background-color: #1b1b1b;
    color: #FFFFFF;
    border: round;
    border-width: 2px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

img {
    border: 5px solid #FFFFFF;
}

h1 {
    color: white;
    font-size: 36px;
    text-align: left;
}

h2 {
    color: white;
    font-size: 24px;
    text-align: left;
}

h3 {
    color: #ffffff;
}

nav {
    background-color: #333;
    overflow: hidden;
}

input {
    background-color: #1b1b1b;
    color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
}

.alpha {
    color: white;
    font-size: 18px;
    background-color: #1b1b1b;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 521px;
    text-align: center;
    align-items: center;
    animation: fadeIn 2s ease-in;
}

marquee {
    color: rgb(0, 0, 0);
    font-size: 18px;
    background-color: #ff0000;
    text-align: center;
    align-items: center;
    animation: fadeIn 2s ease-in;
}

li {
    color: white;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

label {
    color: #ffffff;
}

select {
        background-color: #1b1b1b;
    color: #FFFFFF;
    border: round;
    border-width: 2px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* MANUSCRIPT COLOURS */

.beta {
    color: #ff0000;
}

.gamma {
    color: #00ff00;
}

.delta {
    color: #0000ff;
}